@import "../base/_variables.scss";
@import "../base/_extends.scss";

/* Contacto */

.formulario{
    border: 4px solid white;
    background-color: $bg-color-forms;
    padding-bottom: 15px;
    margin-top: 10px;
}

