@import "../base/_variables.scss";
@import "../base/_extends.scss";

/* Footer */

.footer{
    margin-top: 1.80rem;
    height: auto;
    background-color:$bg-color-nav-foot;
    position: relative;
    bottom: 0;

    .redes-text-footer{
        text-align: center;
        font-size: $font-footer;
    }

    .logos-redes-container{
        display: flex;
        justify-content: space-evenly;

        .logos-redes{
            width: 3.12rem;
            height: 3.12rem;
            margin-bottom: 15px;
        }
    }

    .copy-footer{
        text-align: center;
    }
}


