@import "../base/_variables.scss";
@import "../base/_extends.scss";

/* Inicio modificacion para elementos globales */
*{
    margin:0;
    padding:0;
    box-sizing: border-box
}
/* Quito las decoraciones de los links */
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

/* Inicio modificacion del body */
body{
    font-family: $font;
    font-size:$font-body;
    background-color: $bg-color-body;
    position: relative;
    padding-bottom: 10.5rem;
    min-height: 100vh;
}
/* Fin modificacion del body*/

/* Inicio configuracion para los titulos de las pages */
.titulo-container{
    margin-top: 5.62rem;
    margin-bottom: 2.5rem;
    text-align: center;
    color: $color-white;
    @extend %animaciones;
}
/* Fin configuracion para los titulos de las pages */

/* Inicio modificacion de los titulos y menu */
h1{
    font-size: $font-titulos;
    @extend %animaciones;
}
h2{
    font-size: $font-h2;
    @extend %animaciones;
}
/* Fin modificacion de los titulos y menu */

/* Quito el disclaimer */
.disclaimer{
    display: none;
}

