@import "../base/_variables.scss";
@import "../base/_extends.scss";

/* Inicio modificacion del flyer inicio */
.flyer{
    margin-top: 6.25rem;
}
/* Fin modificacion del flyer inicio */

/* Inicio modificacion del flyer publicidad */
.flyer-publicidad{
    margin-top: 1.87rem;
}
/* Fin modificacion del flyer publicidad*/

/* Inicio modificacion del catalogo */
.catalogo-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
/* Fin modificacion de las cajas*/

/* Inicio modificacion del boton "Ir al catalogo" */
.btn-primary{
    color: $color-white ;
    background-color: $bg-color-nav-foot;
    border-color:  $bg-color-nav-foot;
}

.btn-primary:hover{
    background-color: $bg-color-hover;
    border-color: $bg-color-hover ;
}

@media screen and (max-width:992px){
    .catalogo-container{
        display: flex;
        justify-content: center;
    }
}