@import "../base/_variables.scss";
@import "../base/_extends.scss";

/* Inicio modificacion del flyer inicio */
.flyer{
    margin-top: 6.25rem;
}
/* Fin modificacion del flyer inicio */

/* Inicio modificacion del flyer publicidad */
.flyer-publicidad{
    margin-top: 1.87rem;
}
.somos-paragraph{
    font-size: 22px;
    margin-right: 10px;
}
/* Fin modificacion del flyer publicidad*/
.card-text{
    text-decoration: line-through;
    margin: 0;
}

/* Inicio modificacion del catalogo */
.catalogo-container{
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width:992px){
        display: flex;
        justify-content: center;
    }
    
    .boton{
        color: $color-white ;
        background-color: $bg-color-nav-foot;
        border-color:  $bg-color-nav-foot;
    }
    
    .boton:hover{
        background-color: $bg-color-hover;
        border-color: $bg-color-hover ;
    }
}
/* Fin modificacion de las cajas*/
