$bg-color-body:hsl(166, 53%, 85%);
$bg-color-forms:hsl(166, 53%, 75%);
$bg-color-nav-foot:hsl(166, 53%, 65%);
$bg-color-hover:hsl(166, 53%, 55%);
$color-white:white;

$font:'Barlow', sans-serif;
$font-body:20px;
$font-footer:26px;
$font-titulos:40px;
$font-h2:30px;
