$bg-color-body:hsl(166, 53%, 85%);
$bg-color-forms:hsl(166, 53%, 75%);
$bg-color-nav-foot:hsl(166, 53%, 65%);
$bg-color-hover:hsl(166, 53%, 55%);
$color-white:white;

/* Font Sizes */
$font:'Barlow', sans-serif;
$font-body:20px;
$font-titulos:30px;
